<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#* velocity document *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>会员注册</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
$!{notice.title}
<br />
$!{notice.body}
<br />
$!{notice.status}
<br />
返回<br />
<a href="./">去首页</a>
</body>
</html>
