<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#* velocity document *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>提示</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td>$!{notice.status}</td>
  </tr>
  <tr>
    <td>$!{notice.code}</td>
  </tr>
  <tr>
    <td>$!{notice.title}</td>
  </tr>
  <tr>
    <td>$!{notice.body}</td>
  </tr>
</table>
</body>
</html>
