<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#* velocity document *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>发生异常</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<p>未知的错误。
</p>
<p>错误消息：</p>
<p>$!{exception}</p>
<p>$!{exceptionStack}</p>
</body>
</html>
