<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<title>管理控制台</title>
</head>
<body>
<div id="body-wrapper">
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <h1 id="sidebar-title"><a href="#">E6Mall网店系统管理</a></h1>
      <a href="#"><img id="logo" alt="E6Mall网店系统管理" src="images/logo.png"></a>
      <div id="profile-links">欢迎, <a title="Edit your profile" href="#">$!{session.getAttribute("manager").account}</a>, 你有 <a title="0 条信息" href="#messages" rel="modal">0 条信息</a><br />
        <br />
        <a href="../" title="商城首页" target="_blank">商城首页</a> | <a title="退出" href="logout.htm">退出</a> </div>
      <ul id="main-nav">
        <li><a href="index.htm" class="nav-top-item no-submenu current">管理控制台 </a>
        <li><a class="nav-top-item" href="#">商品 </a>
          <ul>
            <li><a href="goods.htm">商品信息</a></li>
            <li><a href="goods_input.htm">添加新商品</a></li>
            <li><a href="comments.htm">用户评论</a></li>
            <li><a href="categorys.htm">商品类别</a></li>
            <li><a href="gstypes.htm">商品类型</a></li>
            <li><a href="specitems.htm">商品规格</a></li>
            <li><a href="extattrs.htm">商品扩展属性</a></li>
            <li><a href="brands.htm">品牌管理</a></li>
            <li><a href="goods_import.htm">商品批量导入</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">订单 </a>
          <ul>
            <li><a href="orders.htm">订单列表</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">用户和组 </a>
          <ul>
            <li><a href="members.htm">会员账户</a></li>
            <li><a href="groups.htm">会员等级</a></li>
            <li><a href="payin_getout.htm">充值提现申请</a></li>
            <li><a href="bank.htm">资金管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">权限管理 </a>
          <ul>
            <li><a href="managers.htm">管理员列表</a></li>
            <li><a href="mgroups.htm">角色管理</a></li>
            <li><a href="#">管理员日志</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">网站频道 </a>
          <ul>
            <li><a href="channels.htm">频道列表</a></li>
            <li><a href="documents.htm">文章列表</a></li>
            <li><a href="doccates.htm">文章类别</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">商店配置 </a>
          <ul>
            <li><a href="configs.htm">系统设置</a></li>
            <li><a href="paymodes.htm">第三方支付</a></li>
            <li><a href="districts.htm">地区管理</a></li>
            <li><a href="logistics.htm">第三方物流</a></li>
            <li><a href="#">货币管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">数据库管理 </a>
          <ul>
            <li><a href="#">数据备份</a></li>
            <li><a href="#">数据迁移</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <h2>E6Mall</h2>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>管理控制台</h3>
        <ul class="content-box-tabs">
          <li><a class="default-tab" href="#tab1">概览</a></li>
          <li><a href="#tab2">帮助</a></li>
          <li><a href="#tab3">最新消息</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td colspan="4" bgcolor="#E7E7E7">商品统计信息</td>
            </tr>
            <tr>
              <td>商品总数：</td>
              <td>$!{goods_count}</td>
              <td>新品推荐数：</td>
              <td>$!{new_count}</td>
            </tr>
            <tr>
              <td>热销商品数：</td>
              <td>$!{hot_count}</td>
              <td>精品推荐数：</td>
              <td>$!{btq_count}</td>
            </tr>
            <tr>
              <td>促销商品数：</td>
              <td>$!{promote_count}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
          <p>&nbsp;</p>
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td colspan="2" bgcolor="#E7E7E7">系统环境</td>
            </tr>
            <tr>
              <td>操作系统的名称：</td>
              <td>$!props.getProperty("os.name")</td>
            </tr>
            <tr>
              <td>操作系统的构架：</td>
              <td>$!props.getProperty("os.arch")</td>
            </tr>
            <tr>
              <td>操作系统的版本：</td>
              <td>$!props.getProperty("os.version")</td>
            </tr>
            <tr>
              <td>用户的账户名称：</td>
              <td>$!props.getProperty("user.name")</td>
            </tr>
            <tr>
              <td>用户的主目录：</td>
              <td>$!props.getProperty("user.home")</td>
            </tr>
            <tr>
              <td>用户的当前工作目录：</td>
              <td>$!props.getProperty("user.dir")</td>
            </tr>
            <tr>
              <td>Java的运行环境版本：</td>
              <td>$!props.getProperty("java.version")</td>
            </tr>
            <tr>
              <td>Java的运行环境供应商：</td>
              <td>$!props.getProperty("java.vendor")</td>
            </tr>
            <tr>
              <td>Java供应商的URL：</td>
              <td>$!props.getProperty("java.vendor.url")</td>
            </tr>
            <tr>
              <td>Java的安装路径：</td>
              <td>$!props.getProperty("java.home")</td>
            </tr>
            <tr>
              <td>Java的虚拟机规范版本：</td>
              <td>$!props.getProperty("java.vm.specification.version")</td>
            </tr>
            <tr>
              <td>Java的虚拟机规范供应商：</td>
              <td>$!props.getProperty("java.vm.specification.vendor")</td>
            </tr>
            <tr>
              <td>Java的虚拟机规范名称：</td>
              <td>$!props.getProperty("java.vm.specification.name")</td>
            </tr>
            <tr>
              <td>Java的虚拟机实现版本：</td>
              <td>$!props.getProperty("java.vm.version")</td>
            </tr>
            <tr>
              <td>Java的虚拟机实现供应商：</td>
              <td>$!props.getProperty("java.vm.vendor")</td>
            </tr>
            <tr>
              <td>Java的虚拟机实现名称：</td>
              <td>$!props.getProperty("java.vm.name")</td>
            </tr>
            <tr>
              <td>Java运行时环境规范版本：</td>
              <td>$!props.getProperty("java.specification.version")</td>
            </tr>
            <tr>
              <td>Java运行时环境规范供应商：</td>
              <td>$!props.getProperty("java.specification.vender")</td>
            </tr>
            <tr>
              <td>Java运行时环境规范名称：</td>
              <td>$!props.getProperty("java.specification.name")</td>
            </tr>
            <tr>
              <td>Java的类格式版本号：</td>
              <td>$!props.getProperty("java.class.version")</td>
            </tr>
            <tr>
              <td>Java的类路径：</td>
              <td>$!props.getProperty("java.class.path")</td>
            </tr>
            <tr>
              <td>加载库时搜索的路径列表：</td>
              <td>$!props.getProperty("java.library.path")</td>
            </tr>
            <tr>
              <td>默认的临时文件路径：</td>
              <td>$!props.getProperty("java.io.tmpdir")</td>
            </tr>
            <tr>
              <td>一个或多个扩展目录的路径：</td>
              <td>$!props.getProperty("java.ext.dirs")</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>$!props.getProperty("sun.cpu.isalist")</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>$!runtime.availableProcessors()</td>
            </tr>
          </table>
        </div>
        <div class="tab-content" id="tab2">
          <h4>操作顺序</h4>
          <p>1、品牌管理：录入品牌信息。<br>
            2、商品规格：定义商品套餐、规格，等和价格有关的规格项。<br>
            3、商品类型：定义各种商品类型的各种扩展属性[和价格无关的属性]，关联品牌，关联规格。<br>
            4、商品类别：商品分类组织。<br>
            5、商品管理：录入并管理商品信息，上传商品图片等。<br>
          </p>
        </div>
        <div class="tab-content" id="tab3">
          <h4>E6Mall 1.6.3发布</h4>
          <p>这个版本是一个稳定的可部署生产环境的版本，主要特性有：支持支付宝接口，管理员权限自定义控制，自定义频道管理。</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer"><small> © Copyright 2006-2011 <a href="http://www.e6mall.com" target="_blank">www.e6mall.com</a></a> | Powered by <a href="http://www.e6mall.com" target="_blank">E6Mall</a> | <a href="#">Top</a> </small></div>
  </div>
</div>
</body>
</html>
