<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript">
function getDistrict(_id){
	var select = document.createElement("select");
	select.id = "lsarea.district.id";
	select.name = "district";
	select.size = 10;
	select.multiple = "multiple";

	jQuery.ajax({
		type: "POST",
		url: "getdistrict.htm",
		dataType: "json",
		data: "id="+_id,
		success: function(msg){
			var json = eval(msg.result);
			jQuery.each(json, function(i, n){
				select.options[i] = new Option(n.name, n.id);
			});
		}
	});
	psdiv.innerHTML = "";
	var object = psdiv.appendChild(select);
}

</script>
<title>配送地区</title>
</head>
<body>
<div id="body-wrapper">
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <h1 id="sidebar-title"><a href="#">E6Mall网店系统管理</a></h1>
      <a href="#"><img id="logo" alt="E6Mall网店系统管理" src="images/logo.png"></a>
      <div id="profile-links">欢迎, <a title="Edit your profile" href="#">$!{session.getAttribute("manager").account}</a>, 你有 <a title="0 条信息" href="#messages" rel="modal">0 条信息</a><br />
        <br />
        <a href="../" title="商城首页" target="_blank">商城首页</a> | <a title="退出" href="logout.htm">退出</a> </div>
      <ul id="main-nav">
        <li><a href="index.htm" class="nav-top-item no-submenu">管理控制台 </a>
        <li><a class="nav-top-item" href="#">商品 </a>
          <ul>
            <li><a href="goods.htm">商品信息</a></li>
            <li><a href="goods_input.htm">添加新商品</a></li>
            <li><a href="comments.htm">用户评论</a></li>
            <li><a href="categorys.htm">商品类别</a></li>
            <li><a href="gstypes.htm">商品类型</a></li>
            <li><a href="specitems.htm">商品规格</a></li>
            <li><a href="extattrs.htm">商品扩展属性</a></li>
            <li><a href="brands.htm">品牌管理</a></li>
            <li><a href="goods_import.htm">商品批量导入</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">订单 </a>
          <ul>
            <li><a href="orders.htm">订单列表</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">用户和组 </a>
          <ul>
            <li><a href="members.htm">会员账户</a></li>
            <li><a href="groups.htm">会员等级</a></li>
            <li><a href="payin_getout.htm">充值提现申请</a></li>
            <li><a href="bank.htm">资金管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">权限管理 </a>
          <ul>
            <li><a href="managers.htm">管理员列表</a></li>
            <li><a href="mgroups.htm">角色管理</a></li>
            <li><a href="#">管理员日志</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">网站频道 </a>
          <ul>
            <li><a href="channels.htm">频道列表</a></li>
            <li><a href="documents.htm">文章列表</a></li>
            <li><a href="doccates.htm">文章类别</a></li>
          </ul>
        <li><a class="nav-top-item current" href="#">商店配置 </a>
          <ul>
            <li><a href="configs.htm">系统设置</a></li>
            <li><a href="paymodes.htm">第三方支付</a></li>
            <li><a href="districts.htm">地区管理</a></li>
            <li><a href="logistics.htm">第三方物流</a></li>
            <li><a href="#">货币管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">数据库管理 </a>
          <ul>
            <li><a href="#">数据备份</a></li>
            <li><a href="#">数据迁移</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <p>管理控制台 - 商品配置 - 配送方式 - 配送地区</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="lsareas.htm"><span><img alt="icon" src="images/menu_return.png"><br />
        返回列表 </span></a></li>
      <li><a class="shortcut-button" href="lsarea_input.htm"><span><img alt="icon" src="images/pencil_48.png" /><br />
      新建分区 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>$!{logistics.name}</h3>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form id="form2" name="form2" method="post" action="lsarea_create.htm">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td align="right">地区：</td>
                <td>
                <select name="select" id="select" onchange="getDistrict(this.value)">
                  <option value="0" selected="selected">请选择地区</option>
                  #foreach( $item in $districtroot )
                  <option value="$!{item.id}">$!{item.name}</option>
                  #end
                </select>
                </td>
                <td colspan="2"><div id="psdiv"></div></td>
              </tr>
              <tr>
                <td align="right">名称：</td>
                <td><input type="text" name="lsarea.name" id="lsarea.name"></td>
                <td align="right">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="right">首重重量：</td>
                <td><input name="lsarea.wfirst" type="text" id="lsarea.wfirst" size="12" maxlength="11"></td>
                <td align="right">续重重量：</td>
                <td><input name="lsarea.wappend" type="text" id="lsarea.wappend" size="12" maxlength="11"></td>
              </tr>
              <tr>
                <td align="right">首重费用：</td>
                <td><input name="lsarea.wfcost" type="text" id="lsarea.wfcost" size="12" maxlength="11">
                *[数字]</td>
                <td align="right">续重费用：</td>
                <td><input name="lsarea.wacost" type="text" id="lsarea.wacost" size="12" maxlength="11">
                *[数字]</td>
              </tr>
              <tr>
                <td align="right">货到付款：</td>
                <td>支持：
                  <input type="radio" name="lsarea.cod" id="radio" value="yes">
                  不支持：
                  <input name="lsarea.cod" type="radio" id="radio" value="no" checked="checked"></td>
                <td align="right">保险费率：</td>
                <td><input name="lsarea.premiumrate" type="text" id="lsarea.premiumrate" size="12" maxlength="11"></td>
              </tr>
              <tr>
                <td align="right">&nbsp;</td>
                <td><input type="submit" name="button2" id="button2" value="提交">
                  <input name="ls" type="hidden" id="ls" value="$!{logistics.id}"></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer"><small> © Copyright 2006-2011 <a href="http://www.e6mall.com" target="_blank">www.e6mall.com</a></a> | Powered by <a href="http://www.e6mall.com" target="_blank">E6Mall</a> | <a href="#">Top</a> </small></div>
  </div>
</div>
</body>
</html>
