<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<link href="styles/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="scripts/easy_validator.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.min.js"></script>

<script type="text/javascript"> 
<!-- 
jQuery(document).ready(function() {
jQuery("#checkall").click(
    function(){
		if(this.checked){
            jQuery("input[name='checkbox']").each(function(){this.checked=true;});
        }else{
            jQuery("input[name='checkbox']").each(function(){this.checked=false;});
        }
    }
);
});
//--> 
</script>

<script type="text/javascript">
var isExtendsValidate = true;
function extendsValidate(){
	//checkbox 验证，必须选择一个checkbox
	if(jQuery("[name='checkbox']:checked").length < 1){
		alert("至少选择一条信息。");
		return false;
	}
}
</script>

<title>网站频道</title>
</head>
<body>
<div id="body-wrapper">
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <h1 id="sidebar-title"><a href="#">E6Mall网店系统管理</a></h1>
      <a href="#"><img id="logo" alt="E6Mall网店系统管理" src="images/logo.png"></a>
      <div id="profile-links">欢迎, <a title="Edit your profile" href="#">$!{session.getAttribute("manager").account}</a>, 你有 <a title="0 条信息" href="#messages" rel="modal">0 条信息</a><br />
        <br />
        <a href="../" title="商城首页" target="_blank">商城首页</a> | <a title="退出" href="logout.htm">退出</a> </div>
      <ul id="main-nav">
        <li><a href="index.htm" class="nav-top-item no-submenu">管理控制台 </a>
        <li><a class="nav-top-item" href="#">商品 </a>
          <ul>
            <li><a href="goods.htm">商品信息</a></li>
            <li><a href="goods_input.htm">添加新商品</a></li>
            <li><a href="comments.htm">用户评论</a></li>
            <li><a href="categorys.htm">商品类别</a></li>
            <li><a href="gstypes.htm">商品类型</a></li>
            <li><a href="specitems.htm">商品规格</a></li>
            <li><a href="extattrs.htm">商品扩展属性</a></li>
            <li><a href="brands.htm">品牌管理</a></li>
            <li><a href="goods_import.htm">商品批量导入</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">订单 </a>
          <ul>
            <li><a href="orders.htm">订单列表</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">用户和组 </a>
          <ul>
            <li><a href="members.htm">会员账户</a></li>
            <li><a href="groups.htm">会员等级</a></li>
            <li><a href="payin_getout.htm">充值提现申请</a></li>
            <li><a href="bank.htm">资金管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">权限管理 </a>
          <ul>
            <li><a href="managers.htm">管理员列表</a></li>
            <li><a href="mgroups.htm">角色管理</a></li>
            <li><a href="#">管理员日志</a></li>
          </ul>
        <li><a class="nav-top-item current" href="#">网站频道 </a>
          <ul>
            <li><a href="channels.htm">频道列表</a></li>
            <li><a href="documents.htm">文章列表</a></li>
            <li><a href="doccates.htm">文章类别</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">商店配置 </a>
          <ul>
            <li><a href="configs.htm">系统设置</a></li>
            <li><a href="paymodes.htm">第三方支付</a></li>
            <li><a href="districts.htm">地区管理</a></li>
            <li><a href="logistics.htm">第三方物流</a></li>
            <li><a href="#">货币管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">数据库管理 </a>
          <ul>
            <li><a href="#">数据备份</a></li>
            <li><a href="#">数据迁移</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <p>管理控制台 - 网站频道</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="channel_input.htm"><span><img alt="icon" src="images/pencil_48.png" /><br />
      新建频道 </span></a></li>
      <li><a class="shortcut-button" href="chcontent_global_input.htm"><span><img alt="icon" src="images/paper_content_pencil_48.png" /><br />
      新建全局内容 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>商城频道管理</h3>
        <ul class="content-box-tabs">
          <li><a class="default-tab" href="#tab1">商城频道</a></li>
          <li><a href="#tab2">全局频道内容</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form id="form1" name="form1" method="post" action="channels_del.htm">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td><input type="checkbox" name="checkall" id="checkall" title="全选/反选"></td>
                <td>频道ID</td>
                <td>频道名称</td>
                <td>网页模板</td>
                <td>频道说明</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              #foreach( $item in $list )
              <tr>
                <td><input name="checkbox" type="checkbox" id="checkbox" value="$!{item.id}"></td>
                <td><a href="channel_edit.htm?ca=$!{item.id}">$!{item.id}</a></td>
                <td>$!{item.title}</td>
                <td>$!{item.template.path}/$!{item.template.name}</td>
                <td>$!{item.intro}</td>
                <td><a href="chcontents.htm?ca=$!{item.id}">频道内容</a></td>
                <td><a href="chcontent_input.htm?ca=$!{item.id}">加内容</a></td>
              </tr>
              #end
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><input type="submit" name="button" id="button" value=" 删 除 "></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </form>
        </div>
        <div class="tab-content" id="tab2">
          <form id="form1" name="form1" method="post" action="chcontents_del.htm?ca=$!{channel.id}">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td><input type="checkbox" name="checkall" id="checkall" title="全选/反选"></td>
              <td>编辑</td>
              <td>类型</td>
              <td>文章分类</td>
              <td>文章信息</td>
              <td>商品分类</td>
              <td>商品信息</td>
              <td>数量</td>
              <td>偏移</td>
              <td>标记</td>
              <td>详细页显示</td>
              <td>语言</td>
            </tr>
            #foreach( $item in $gachctlist )
          <tr>
            <td><input name="checkbox" type="checkbox" id="checkbox" value="$!{item.id}"></td>
            <td><a href="chcontent_edit.htm?ct=$!{item.id}">编辑</a></td>
            <td>$!{item.typetext}</td>
            <td>$!{item.doccate.name}</td>
            <td>$!{item.document.title}</td>
            <td>#if( ( $item.type=='gmenu' || $item.type=='glist' || $item.type=='grclist' || $item.type=='gpagelist' ) && !$item.category )所有商品分类#else$!{item.category.name}#end #if( $item.hasKeyword('hot') )[热销]#end#if( $item.hasKeyword('new') )[新品]#end#if( $item.hasKeyword('btq') )[精品]#end</td>
            <td>$!{item.goods.name}</td>
            <td>$!{item.number}</td>
            <td>$!{item.offset}</td>
            <td>$!{item.marker}</td>
            <td>#if( $item.detail=='yes' )是#else否#end</td>
            <td>$!{item.locale.name}</td>
          </tr>
          #end
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="submit" name="button2" id="button2" value="删除"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </table>
          </form>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer"><small> © Copyright 2006-2011 <a href="http://www.e6mall.com" target="_blank">www.e6mall.com</a></a> | Powered by <a href="http://www.e6mall.com" target="_blank">E6Mall</a> | <a href="#">Top</a> </small></div>
  </div>
</div>
</body>
</html>
