<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<link href="styles/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="scripts/easy_validator.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.min.js"></script>
<title>商品列表</title>
<script type="text/javascript">
<!--
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
//-->
</script>

<script type="text/javascript"> 
<!-- 
jQuery(document).ready(function() {
	jQuery('#form1').submit(function()
	{
		if(jQuery("[name='checkbox']:checked").length < 1){
			alert("至少选择一条信息。");
			return false;
		} else {
			return true;
		}
	});
	
jQuery("#checkall").click(
    function(){
		if(this.checked){
            jQuery("input[name='checkbox']").each(function(){this.checked=true;});
        }else{
            jQuery("input[name='checkbox']").each(function(){this.checked=false;});
        }
    }
);
});
//--> 
</script>
</head>
<body>
<div id="body-wrapper">
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <h1 id="sidebar-title"><a href="#">E6Mall网店系统管理</a></h1>
      <a href="#"><img id="logo" alt="E6Mall网店系统管理" src="images/logo.png"></a>
      <div id="profile-links">欢迎, <a title="Edit your profile" href="#">$!{session.getAttribute("manager").account}</a>, 你有 <a title="0 条信息" href="#messages" rel="modal">0 条信息</a><br />
        <br />
        <a href="../" title="商城首页" target="_blank">商城首页</a> | <a title="退出" href="logout.htm">退出</a> </div>
      <ul id="main-nav">
        <li><a href="index.htm" class="nav-top-item no-submenu">管理控制台 </a>
        <li><a class="nav-top-item current" href="#">商品 </a>
          <ul>
            <li><a href="goods.htm">商品信息</a></li>
            <li><a href="goods_input.htm">添加新商品</a></li>
            <li><a href="comments.htm">用户评论</a></li>
            <li><a href="categorys.htm">商品类别</a></li>
            <li><a href="gstypes.htm">商品类型</a></li>
            <li><a href="specitems.htm">商品规格</a></li>
            <li><a href="extattrs.htm">商品扩展属性</a></li>
            <li><a href="brands.htm">品牌管理</a></li>
            <li><a href="goods_import.htm">商品批量导入</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">订单 </a>
          <ul>
            <li><a href="orders.htm">订单列表</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">用户和组 </a>
          <ul>
            <li><a href="members.htm">会员账户</a></li>
            <li><a href="groups.htm">会员等级</a></li>
            <li><a href="payin_getout.htm">充值提现申请</a></li>
            <li><a href="bank.htm">资金管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">权限管理 </a>
          <ul>
            <li><a href="managers.htm">管理员列表</a></li>
            <li><a href="mgroups.htm">角色管理</a></li>
            <li><a href="#">管理员日志</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">网站频道 </a>
          <ul>
            <li><a href="channels.htm">频道列表</a></li>
            <li><a href="documents.htm">文章列表</a></li>
            <li><a href="doccates.htm">文章类别</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">商店配置 </a>
          <ul>
            <li><a href="configs.htm">系统设置</a></li>
            <li><a href="paymodes.htm">第三方支付</a></li>
            <li><a href="districts.htm">地区管理</a></li>
            <li><a href="logistics.htm">第三方物流</a></li>
            <li><a href="#">货币管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">数据库管理 </a>
          <ul>
            <li><a href="#">数据备份</a></li>
            <li><a href="#">数据迁移</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <p>管理控制台 - 商品信息</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="goods_input.htm"><span><img src="images/pencil_48.png" alt="icon" /><br />
      添加新商品 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>搜索</h3>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
        <form id="form2" name="form2" method="post" action="goods.action?c=$!{category.id}">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td width="60">商品类别：</td>
              <td width="50">
              <select name="select" id="select" onChange="MM_goToURL('parent',this.value);return document.MM_returnValue">
                <option value="?c=">所有商品</option>
                #foreach( $item in $catelist )
                <option value="?c=$!{item.id}" #if($category.id==$item.id)selected="selected"#end>$!{item.nodestr}$!{item.name}</option>
                #end
              </select>
              </td>
              <td width="50">搜索：</td>
              <td width="200"><input name="keyword" type="text" id="keyword" value="$!{keyword}"></td>
              <td width="50"><input type="submit" name="button2" id="button2" value="搜索"></td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </form>
        </div>
      </div>
    </div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>商品列表</h3>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="default-tab">
          <form id="form1" name="form1" method="post" action="goods_del.htm">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td><input type="checkbox" name="checkall" id="checkall" title="全选/反选"></td>
                <td>
                <a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{page}&amp;od=name&amp;#if($sc=='desc')sc=asc#else&amp;sc=desc#end">
                #if( $od=='name' && $sc=='desc' )<img src="images/up.jpg" width="11" height="11">#else<img src="images/down.jpg" width="11" height="11">#end名称
                </a>
                </td>
                <td>
                <a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{page}&amp;od=sn&amp;#if($sc=='desc')sc=asc#else&amp;sc=desc#end">
                #if( $od=='sn' && $sc=='desc' )<img src="images/up.jpg" width="11" height="11">#else<img src="images/down.jpg" width="11" height="11">#end货号
                </a>
                </td>
                <td>
                <a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{page}&amp;od=price&amp;#if($sc=='desc')sc=asc#else&amp;sc=desc#end">
                #if( $od=='price' && $sc=='desc' )<img src="images/up.jpg" width="11" height="11">#else<img src="images/down.jpg" width="11" height="11">#end单价
                </a>
                </td>
                <td>
                <a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{page}&amp;od=status&amp;#if($sc=='desc')sc=asc#else&amp;sc=desc#end">
                #if( $od=='status' && $sc=='desc' )<img src="images/up.jpg" width="11" height="11">#else<img src="images/down.jpg" width="11" height="11">#end是否上架
                </a>
                </td>
                <td>
                  <a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{page}&amp;od=csort&amp;#if($sc=='desc')sc=asc#else&amp;sc=desc#end">
                  #if( $od=='csort' && $sc=='desc' )<img src="images/up.jpg" width="11" height="11">#else<img src="images/down.jpg" width="11" height="11">#end排序
                  </a>
                </td>
                <td>
                  <a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{page}&amp;od=inventory&amp;#if($sc=='desc')sc=asc#else&amp;sc=desc#end">
                  #if( $od=='inventory' && $sc=='desc' )<img src="images/up.jpg" width="11" height="11">#else<img src="images/down.jpg" width="11" height="11">#end库存
                  </a>
                </td>
                <td>
                  <a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{page}&amp;od=ctime&amp;#if($sc=='desc')sc=asc#else&amp;sc=desc#end">
                  #if( $od=='ctime' && $sc=='desc' )<img src="images/up.jpg" width="11" height="11">#else<img src="images/down.jpg" width="11" height="11">#end时间
                  </a>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              #foreach( $item in $ps.getItems() )
              <tr>
                <td><input name="checkbox" type="checkbox" id="checkbox" value="$!{item.id}"></td>
                <td><a href="goods_view.htm?gs=$!{item.id}">$!{item.name}</a>#if( $item.hasKeyword('hot') )[热销]#end#if( $item.hasKeyword('new') )[新品]#end#if( $item.hasKeyword('btq') )[精品]#end</td>
                <td>$!{item.sn}</td>
                <td>$!{item.price}</td>
                <td>#if( $item.status=='normal' )上架#elseif( $item.status=='recommend' )推荐#else下架#end</td>
                <td>$!{item.csort}</td>
                <td>$!{item.inventory}</td>
                <td>$!{item.ctime}</td>
                <td><a href="goods_edit.htm?gs=$!{item.id}">修改</a></td>
                <td><a href="specs.htm?gs=$!{item.id}">规格</a></td>
                <td><a href="goods_view.htm?gs=$!{item.id}">相册</a></td>
              </tr>
              #end
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="action" id="action" value=" 删 除 "></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </form>
          <div class="pagination">
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=1&amp;od=$!{od}&amp;sc=$!{sc}" title="首页">首页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getPreviousTenPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="前10页">前10页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getPreviousPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="上一页">上一页</a>
#foreach( $infoitem in $ps.getPages() )
<a class="number" title="第$!{infoitem}页" href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{infoitem}&amp;od=$!{od}&amp;sc=$!{sc}">&nbsp;$!{infoitem}&nbsp;</a>
#end
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getNextPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="下一页">下一页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getNextTenPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="后10页">后10页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getPageCount()&amp;od=$!{od}&amp;sc=$!{sc}" title="最后页">最后页</a>
<span>&nbsp;共&nbsp;
                $ps.getTotalCount()
                &nbsp;条信息，
                $ps.pageCount
                页</span>
</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer"><small> © Copyright 2006-2011 <a href="http://www.e6mall.com" target="_blank">www.e6mall.com</a></a> | Powered by <a href="http://www.e6mall.com" target="_blank">E6Mall</a> | <a href="#">Top</a> </small></div>
  </div>
</div>
</body>
</html>
