<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<link href="styles/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="scripts/easy_validator.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.min.js"></script>
<script type="text/javascript">
function changeFreight(_id,os){
	jQuery.ajax({
		type: "POST",
		url: "change_lsarea.htm",
		dataType: "json",
		data: "ft="+_id+"&os="+os,
		success: function(msg){
			var json = eval(msg.result);
			jQuery("#logicost").val(json);
		}
	});
}

function changePaymode(_id,os){
	jQuery.ajax({
		type: "POST",
		url: "change_paymode.htm",
		dataType: "json",
		data: "pm="+_id+"&os="+os,
		success: function(msg){
			var json = eval(msg.result);
			jQuery("#paycost").val(json);
		}
	});
}

jQuery(document).ready(function(){
	jQuery("#discount").change(function(){
		var amount = jQuery("#amount").val();
		var discount = jQuery("#discount").val();
		var actamount = amount - discount / 100 * amount;
		jQuery("#actamount").val(String(Math.round(actamount*100)/100));
	});
});
</script>
<title>修改订单</title>
</head>
<body>
<div id="body-wrapper">
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <h1 id="sidebar-title"><a href="#">E6Mall网店系统管理</a></h1>
      <a href="#"><img id="logo" alt="E6Mall网店系统管理" src="images/logo.png"></a>
      <div id="profile-links">欢迎, <a title="Edit your profile" href="#">$!{session.getAttribute("manager").account}</a>, 你有 <a title="0 条信息" href="#messages" rel="modal">0 条信息</a><br />
        <br />
        <a href="../" title="商城首页" target="_blank">商城首页</a> | <a title="退出" href="logout.htm">退出</a> </div>
      <ul id="main-nav">
        <li><a href="index.htm" class="nav-top-item no-submenu">管理控制台 </a>
        <li><a class="nav-top-item" href="#">商品 </a>
          <ul>
            <li><a href="goods.htm">商品信息</a></li>
            <li><a href="goods_input.htm">添加新商品</a></li>
            <li><a href="comments.htm">用户评论</a></li>
            <li><a href="categorys.htm">商品类别</a></li>
            <li><a href="gstypes.htm">商品类型</a></li>
            <li><a href="specitems.htm">商品规格</a></li>
            <li><a href="extattrs.htm">商品扩展属性</a></li>
            <li><a href="brands.htm">品牌管理</a></li>
            <li><a href="goods_import.htm">商品批量导入</a></li>
          </ul>
        <li><a class="nav-top-item current" href="#">订单 </a>
          <ul>
            <li><a href="orders.htm">订单列表</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">用户和组 </a>
          <ul>
            <li><a href="members.htm">会员账户</a></li>
            <li><a href="groups.htm">会员等级</a></li>
            <li><a href="payin_getout.htm">充值提现申请</a></li>
            <li><a href="bank.htm">资金管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">权限管理 </a>
          <ul>
            <li><a href="managers.htm">管理员列表</a></li>
            <li><a href="mgroups.htm">角色管理</a></li>
            <li><a href="#">管理员日志</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">网站频道 </a>
          <ul>
            <li><a href="channels.htm">频道列表</a></li>
            <li><a href="documents.htm">文章列表</a></li>
            <li><a href="doccates.htm">文章类别</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">商店配置 </a>
          <ul>
            <li><a href="configs.htm">系统设置</a></li>
            <li><a href="paymodes.htm">第三方支付</a></li>
            <li><a href="districts.htm">地区管理</a></li>
            <li><a href="logistics.htm">第三方物流</a></li>
            <li><a href="#">货币管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">数据库管理 </a>
          <ul>
            <li><a href="#">数据备份</a></li>
            <li><a href="#">数据迁移</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <p>管理控制台 - 订单 - 修改订单</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="orders.htm"><span><img alt="icon" src="images/menu_return.png"><br />
        返回订单列表 </span></a></li>
      <li><a class="shortcut-button" href="#"><span><img alt="icon" src="images/pencil_48.png" /><br />
      新建订单 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>订单：$!{orders.code}</h3>
        <ul class="content-box-tabs">
          <li><a class="default-tab" href="#tab1">基本信息</a></li>
          <li><a href="#tab2">订单商品</a></li>
          <li><a href="#tab3">购买人信息</a></li>
          <li><a href="#tab4">收货人信息</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form id="form2" name="form2" method="post" action="orders_update.htm">
            <table border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td colspan="4">#if( $orders.status=="WAIT_SELLER_SEND_GOODS" )<a href="orders_send_goods.htm?os=$!{orders.id}">设置已发货</a>#end</td>
              </tr>
              <tr>
                <td align="right">订单号：</td>
                <td>$!{orders.code}</td>
                <td align="right">下单日期：</td>
                <td>$!{orders.ctime}</td>
              </tr>
              <tr>
                <td align="right">订单总金额(￥)：</td>
                <td><input name="orders.amount" type="text" id="amount" value="$!{orders.amount}" reg="^\d{1,12}(\.\d{1,2})?$" tip="输入订单总金额，只允许数字。"></td>
                <td align="right">商品重量(g)：</td>
                <td><input name="orders.weight" type="text" id="orders.weight" value="$!{orders.weight}" reg="^\d{1,12}(\.\d{1,2})?$" tip="输商品重量，只允许数字。"></td>
              </tr>
              <tr>
                <td align="right">实收(￥)：</td>
                <td><input name="orders.actamount" type="text" id="actamount" value="$!{orders.actamount}" reg="^\d{1,12}(\.\d{1,2})?$" tip="输入实收金额，只允许数字。"></td>
                <td align="right">折扣(%)：</td>
                <td><input name="orders.discount" type="text" id="discount" value="$!{orders.discount}" reg="^\d{1,12}(\.\d{1,2})?$" tip="输入订单折扣，只允许数字。"></td>
              </tr>
              <tr>
                <td align="right">配送方式：</td>
                <td>
                <select name="orders.lsarea.id" id="orders.lsarea.id" onchange="changeFreight(this.value,'$!{orders.id}')">
                  #foreach( $item in $lsarealist )
                  <option value="$!{item.id}" #if( $orders.lsarea.id==$item.id )selected="selected"#end>$!{item.logistics.name}[$!{item.name}]</option>
                  #end
                </select></td>
                <td align="right">配送费用(￥)：</td>
                <td><input name="orders.logicost" type="text" id="logicost" value="$!{orders.logicost}" reg="^\d{1,12}(\.\d{1,2})?$" tip="输入配送费用，只允许数字。"></td>
              </tr>
              <tr>
                <td align="right">支付方式：</td>
                <td>
                <select name="orders.paymode.id" id="orders.paymode.id" onchange="changePaymode(this.value,'$!{orders.id}')">
                  #foreach( $item in $paymodelist )
                  <option value="$!{item.id}" #if( $orders.paymode.id==$item.id )selected="selected"#end>$!{item.name}</option>
                  #end
                </select></td>
                <td align="right">支付手续费(￥)：</td>
                <td><input name="orders.paycost" type="text" id="paycost" value="$!{orders.paycost}" reg="^\d{1,12}(\.\d{1,2})?$" tip="输入支付手续费，只允许数字。"></td>
              </tr>
              <tr>
                <td align="right">发票抬头：</td>
                <td><input name="orders.invoicetitle" type="text" id="orders.invoicetitle" value="$!{orders.invoicetitle}" maxlength="255" reg="^$|^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]{2,255}$" tip="中文，英文或下划线，最少两个字符，最多255个字符"></td>
                <td align="right">税金(￥)：</td>
                <td><input name="orders.duty" type="text" id="orders.duty" value="$!{orders.duty}" reg="^\d{1,12}(\.\d{1,2})?$" tip="输入税金，只允许数字。"></td>
              </tr>
              <tr>
                <td align="right">订单状态：</td>
                <td>
                #if( $orders.paymode.pmtype == 'other' )
                <select name="orders.status" id="orders.status">
                  <option value="WAIT_BUYER_PAY" selected="selected">等待买家付款</option>
                  <option value="WAIT_SELLER_SEND_GOODS">买家已付款</option>
                </select>
                #end
                </td>
                <td align="right">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="button" id="button" value="  修 改  ">
                  <input name="orders.id" type="hidden" id="orders.id" value="$!{orders.id}"></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </form>
        </div>
        <div class="tab-content" id="tab2">
          <form id="form1" name="form1" method="post" action="">
            #foreach( $item in $ps.getItems() )
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td>货号</td>
                <td>商品名称</td>
                <td>单价</td>
                <td>数量</td>
                <td>小计</td>
                <td>折扣</td>
                <td>实计</td>
                <td>缺货</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>$!{item.spec.gscode}</td>
                <td>$!{item.goods.name}</td>
                <td>$!{item.unitprice}</td>
                <td>$!{item.number}</td>
                <td>$!{item.subtotal}</td>
                <td>$!{item.discount}</td>
                <td>$!{item.actsum}</td>
                <td>
                #if( $item.goods.inventory >= $item.number )库存：$!{item.goods.inventory}
                #else缺货/库存不足#end
                </td>
                <td></td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td height="1" bgcolor="#CCCCCC"></td>
              </tr>
            </table>
            #end
          </form>
        </div>
        <div class="tab-content" id="tab3">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td>会员用户名：</td>
              <td>$!{orders.member.account}</td>
              <td>姓名：</td>
              <td>$!{orders.member.name}</td>
            </tr>
            <tr>
              <td>联系电话：</td>
              <td>$!{orders.member.telephone}</td>
              <td>手机：</td>
              <td>$!{orders.member.mobile}</td>
            </tr>
            <tr>
              <td>EMAIL：</td>
              <td>$!{orders.member.email}</td>
              <td>邮编：</td>
              <td>$!{orders.member.postcode}</td>
            </tr>
            <tr>
              <td>所在地区：</td>
              <td colspan="3">$!{orders.member.district.district.name} $!{orders.member.district.name}</td>
            </tr>
            <tr>
              <td>联系地址：</td>
              <td colspan="3">$!{orders.member.address}</td>
            </tr>
          </table>
        </div>
        <div class="tab-content" id="tab4">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td>收货人姓名：</td>
              <td>$!{orders.staddress.name}</td>
              <td>手机：</td>
              <td>$!{orders.staddress.mobile}</td>
            </tr>
            <tr>
              <td>固定电话：</td>
              <td>$!{orders.staddress.telephone}</td>
              <td>邮编：</td>
              <td>$!{orders.staddress.postcode}</td>
            </tr>
            <tr>
              <td>所在地区：</td>
              <td colspan="3">$!{orders.staddress.district.district.name} $!{orders.staddress.district.name}</td>
            </tr>
            <tr>
              <td>联系地址：</td>
              <td colspan="3">$!{orders.staddress.address}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer"><small> © Copyright 2006-2011 <a href="http://www.e6mall.com" target="_blank">www.e6mall.com</a></a> | Powered by <a href="http://www.e6mall.com" target="_blank">E6Mall</a> | <a href="#">Top</a> </small></div>
  </div>
</div>
</body>
</html>
