<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<link type="text/css" href="styles/calendar.css" rel="stylesheet" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="scripts/cal.js"></script>
<script type="text/javascript">
jQuery(document).ready(function () {	
	$('#min').simpleDatepicker({ startdate: 2000, enddate: 2016 });
	$('#max').simpleDatepicker({ startdate: 2000, enddate: 2016 });
});
</script>
<title>充值/提现管理</title>
</head>
<body>
<div id="body-wrapper">
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <h1 id="sidebar-title"><a href="#">E6Mall网店系统管理</a></h1>
      <a href="#"><img id="logo" alt="E6Mall网店系统管理" src="images/logo.png"></a>
      <div id="profile-links">欢迎, <a title="Edit your profile" href="#">$!{session.getAttribute("manager").account}</a>, 你有 <a title="0 条信息" href="#messages" rel="modal">0 条信息</a><br />
        <br />
        <a href="../" title="商城首页" target="_blank">商城首页</a> | <a title="退出" href="logout.htm">退出</a> </div>
      <ul id="main-nav">
        <li><a href="index.htm" class="nav-top-item no-submenu">管理控制台 </a>
        <li><a class="nav-top-item" href="#">商品 </a>
          <ul>
            <li><a href="goods.htm">商品信息</a></li>
            <li><a href="goods_input.htm">添加新商品</a></li>
            <li><a href="comments.htm">用户评论</a></li>
            <li><a href="categorys.htm">商品类别</a></li>
            <li><a href="gstypes.htm">商品类型</a></li>
            <li><a href="specitems.htm">商品规格</a></li>
            <li><a href="extattrs.htm">商品扩展属性</a></li>
            <li><a href="brands.htm">品牌管理</a></li>
            <li><a href="goods_import.htm">商品批量导入</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">订单 </a>
          <ul>
            <li><a href="orders.htm">订单列表</a></li>
          </ul>
        <li><a class="nav-top-item current" href="#">用户和组 </a>
          <ul>
            <li><a href="members.htm">会员账户</a></li>
            <li><a href="groups.htm">会员等级</a></li>
            <li><a href="payin_getout.htm">充值提现申请</a></li>
            <li><a href="bank.htm">资金管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">权限管理 </a>
          <ul>
            <li><a href="managers.htm">管理员列表</a></li>
            <li><a href="mgroups.htm">角色管理</a></li>
            <li><a href="#">管理员日志</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">网站频道 </a>
          <ul>
            <li><a href="channels.htm">频道列表</a></li>
            <li><a href="documents.htm">文章列表</a></li>
            <li><a href="doccates.htm">文章类别</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">商店配置 </a>
          <ul>
            <li><a href="configs.htm">系统设置</a></li>
            <li><a href="paymodes.htm">第三方支付</a></li>
            <li><a href="districts.htm">地区管理</a></li>
            <li><a href="logistics.htm">第三方物流</a></li>
            <li><a href="#">货币管理</a></li>
          </ul>
        <li><a class="nav-top-item" href="#">数据库管理 </a>
          <ul>
            <li><a href="#">数据备份</a></li>
            <li><a href="#">数据迁移</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-content">
    <p>管理控制台 - 资金管理</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="payin_getout.htm"><span><img alt="icon" src="images/menu_return.png"><br />
        返回列表 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>资金管理</h3>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form id="form1" name="form1" method="post" action="payin_getout.htm">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td>开始日期：</td>
                <td><input name="min" type="text" id="min" size="15" maxlength="10"></td>
                <td>&nbsp;</td>
                <td>结束日期：</td>
                <td><input name="max" type="text" id="max" size="15" maxlength="10"></td>
                <td>&nbsp;</td>
                <td><input type="submit" name="button" id="button" value="查询"></td>
              </tr>
            </table>
          </form>
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td>会员账号</td>
              <td>摘要</td>
              <td>金额</td>
              <td>支付方式</td>
              <td>状态</td>
              <td>操作员</td>
              <td>申请时间</td>
              <td>操作</td>
            </tr>
            #foreach( $item in $ps.getItems() )
            <tr>
              <td>$!{item.member.account}</td>
              <td>$!{item.tabloid}</td>
              <td>#if( $item.payin != "" )$!{item.payin}#elseif( $item.getout != "" )$!{item.getout}#end</td>
              <td>$!{item.paymode.name}</td>
              <td>#if( $item.status == 'ok' )操作成功#elseif( $item.status == 'audit' )等待确认#elseif( $item.status == 'waitpay' )等待付款#end</td>
              <td>#if( $item.manager )$!{item.manager.name}#else无#end</td>
              <td>$!{item.ctime}</td>
              <td>#if( $item.status == 'ok' )已审核#elseif( $item.status == 'waitpay' )等待付款#elseif( $item.status == 'audit' )<a href="payin_getout_view.htm?bra=$!{item.id}">审核</a>#end</td>
            </tr>
            #end
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer"><small> © Copyright 2006-2011 <a href="http://www.e6mall.com" target="_blank">www.e6mall.com</a></a> | Powered by <a href="http://www.e6mall.com" target="_blank">E6Mall</a> | <a href="#">Top</a> </small></div>
  </div>
</div>
</body>
</html>
