<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网店后台管理系统</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top">
     <div id="top_head">
	     <div id="logo"><a href="../"><img src="images/Home-box_03.jpg" alt="E6Mall 铱王星 在线商城" width="244" height="32" border="0" /></a></div>
		 <div id="top_right">
		     <ul>
	            <li class="line"></li>
				<li><a href="logout.htm">退出</a></li>
                <li class="line"></li>
				<li><a href="security.htm">$!{session.getAttribute("member").account}</a></li>
			 </ul>
	   </div>
	 </div>
</div>
<div id="blankline"></div>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="38" align="center" valign="middle" background="images/menubg.jpg"><table width="1003" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td width="492" height="38" align="right" valign="middle">&nbsp;</td>
        <td width="511" align="right" valign="top">
		 <div id="nav">
		      <ul>
			     <li><a href="index.htm">我的E6Mall</a></li>
                 <li><a href="list_bought_items.htm">交易管理</a></li>
				 <li><a href="my_bank.htm" class="over">账户管理</a></li>
				 <li><a href="profile.htm">账号设置</a></li>
			  </ul>
		 </div>
		</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="202" height="500" align="left" valign="top">
    <div id="lefttitle">交易管理</div>
	<div id="leftline"></div>
	
    <div style="padding-top:8px;"></div>
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="../my_scart.htm" target="_blank" class="list">我的购物车</a></td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="list_bought_items.htm" class="list">我的订单</a></td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="#" class="list">我的收藏</a></td>
      </tr><tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="my_bank.htm" class="list">我的账户</a></td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="staddresses.htm" class="list">管理收货地址</a></td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle">&nbsp;</td>
        <td width="92%" align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top">友情链接</td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="http://www.iksns.com" title="即时技术服务，企业邮箱，企业建站" target="_blank" class="list">铱王星科技</a></td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="http://www.e6mall.com" title="立即建设自己的网上商城" target="_blank" class="list">E6Mall - 网上商城系统</a></td>
      </tr>
      <tr>
        <td width="8%" align="center" valign="middle"><img src="images/list_d.jpg" width="3" height="3" /></td>
        <td width="92%" align="left" valign="top"><a href="http://www.e6mail.com" title="大平台，企业交友，整合手机、企业邮箱、即时通信" target="_blank" class="list">E6Mail - 企业社交平台</a></td>
      </tr>
    </table></td>
    <td width="1" bgcolor="#dbdbdb">
	</td>
    <td align="left" valign="top" style="padding-left:15px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="42" align="left" valign="middle" bgcolor="#f4f4f4" class="title" style="padding-left:15px;">管理中心&nbsp;--&nbsp;<span class="title1">订单详情</span></td>
      </tr>
      <tr>
        <td height="1" bgcolor="#e5e5e5">
		</td>
      </tr>
    </table>
    <div style="padding-top:10px;"></div>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td class="pagen"> 订单：$!{orders.code} 状态
          #if( $orders.status=="WAIT_BUYER_PAY" )
          等待付款&nbsp;&nbsp;&nbsp;<a href="payment.htm?os=$!{orders.id}" target="_blank">付款</a>
          #end
          #if( $orders.status=="WAIT_BUYER_CONFIRM_GOODS" )
          已发货&nbsp;&nbsp;&nbsp;<a href="delivered.htm?os=$!{orders.id}" target="_blank">确认收货</a>
          #end
          #if( $orders.status=="WAIT_SELLER_SEND_GOODS" )
          买家已付款
          #end
          #if( $orders.status=="TRADE_FINISHED" )
          交易成功完成
          #end
          #if( $orders.status=="TRADE_CLOSED" )
          交易关闭
          #end</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td width="80" align="right">订单号：</td>
        <td width="300">$!{orders.code}</td>
        <td width="80" align="right">下单日期：</td>
        <td>$!{orders.ctime}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right">商品总金额：</td>
        <td>￥$!{orders.amount}</td>
        <td align="right">商品重量：</td>
        <td>$!{orders.weight}
          g</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right">实收：</td>
        <td>￥$!{orders.actamount}</td>
        <td align="right">折扣：</td>
        <td>$!{orders.discount}
          %</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right">配送方式：</td>
        <td>$!{orders.lsarea.logistics.name}</td>
        <td align="right">配送费用：</td>
        <td>$!{orders.logicost}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right">支付方式：</td>
        <td>$!{orders.paymode.name}</td>
        <td align="right">支付手续费：</td>
        <td>￥$!{orders.paycost}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right">发票抬头：</td>
        <td>$!{orders.invoicetitle}</td>
        <td align="right">税金：</td>
        <td>￥$!{orders.duty}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
      <tr class="page">
        <td class="pagen">商品</td>
        <td class="pagen">货号</td>
        <td class="pagen">商品名称</td>
        <td class="pagen">单价</td>
        <td class="pagen">数量</td>
        <td class="pagen">小计</td>
        <td class="pagen">折扣</td>
        <td class="pagen">实计</td>
        <td class="pagen">缺货</td>
        <td class="pagen">&nbsp;</td>
      </tr>
      #foreach( $item in $ps.getItems() )
      <tr>
        <td><img src="../$!{item.goods.defaultImage.path}/$!{item.goods.defaultImage.name}" width="60" height="60" alt="$!{item.goods.getSubname(36,'..')}"></td>
        <td>$!{item.spec.gscode}</td>
        <td>$!{item.goods.name}</td>
        <td>$!{item.unitprice}</td>
        <td>$!{item.number}</td>
        <td>$!{item.subtotal}</td>
        <td>$!{item.discount}</td>
        <td>$!{item.actsum}</td>
        <td>#if( $item.status=='oos' )
          是&nbsp;&nbsp;
          #else
          否&nbsp;&nbsp;
          #end</td>
        <td></td>
      </tr>
      #end
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td colspan="4">&nbsp;</td>
        </tr>
      <tr>
        <td colspan="4" class="pagen">收货人信息：</td>
        </tr>
      <tr>
        <td>收货人姓名：</td>
        <td>$!{orders.staddress.name}</td>
        <td>手机：</td>
        <td>$!{orders.staddress.mobile}</td>
      </tr>
      <tr>
        <td>固定电话：</td>
        <td>$!{orders.staddress.telephone}</td>
        <td>邮编：</td>
        <td>$!{orders.staddress.postcode}</td>
      </tr>
      <tr>
        <td>所在地区：</td>
        <td colspan="3">$!{orders.staddress.district.district.name} $!{orders.staddress.district.name}</td>
      </tr>
      <tr>
        <td>联系地址：</td>
        <td colspan="3">$!{orders.staddress.address}</td>
      </tr>
    </table>
<div style="padding-top:10px;"></div>
    <table width="787" border="0" cellpadding="0" cellspacing="0" bgcolor="#cdcdcd">
      <tr>
        <td width="1">
		</td>
      </tr>
    </table>
 <div  style="height:100px; text-align:center; width:787px; padding-top:10px;">© Copyright 2006-2011 <a href="http://www.e6mall.com" target="_blank">www.e6mall.com</a> | Powered by <a href="http://www.e6mall.com" target="_blank">E6Mall</a></div>	
	</td>
  </tr>
</table>
</body>
</html>
